.App {
  text-align: center;
  padding: 20px;
}

.dropzone {
  width: 300px;
  height: 200px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-box {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.image-box h3 {
  margin-bottom: 10px;
}

.uploaded-image, .processed-image {
  max-width: 100%;
  height: auto;
}

.sliders {
  width: 300px;
  margin: 20px auto;
}

.slider-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.loading {
  font-size: 1.5em;
  color: #000;
  text-align: center;
  margin-top: 20px;
}


.slider-container label {
  flex: 1;
}

.slider-container span {
  margin-left: 10px;
}

.convert-button {
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  align-items: center;
  justify-content: center;
  /* position: fixed;*/
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.convert-button:hover {
  background-color: #0056b3;
}

/* App.css */
.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-box {
  position: relative;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.uploaded-image, .processed-image {
  width: 100%;
  height: auto;
  max-width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

.download-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.download-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    width: 90%;
  }

  nav {
    flex-direction: column;
  }

  nav > div {
    width: 100%;
  }
}
