.App {
  text-align: center;
  padding: 20px;
}

.dropzone {
  width: 300px;
  height: 200px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-box {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.image-box h3 {
  margin-bottom: 10px;
}

.uploaded-image, .processed-image {
  max-width: 100%;
  height: auto;
}

.sliders {
  width: 300px;
  margin: 20px auto;
}

.slider-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.loading {
  font-size: 1.5em;
  color: #000;
  text-align: center;
  margin-top: 20px;
}


.slider-container label {
  flex: 1;
}

.slider-container span {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    width: 90%;
  }

  nav {
    flex-direction: column;
  }

  nav > div {
    width: 100%;
  }
}
