.App {
  text-align: center;
}

.Heading {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2rem;
  font-weight: bold;
}

.dropzone {
  width: 300px;
  height: 200px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-box {
  position: relative;
  text-align: center;
  margin: 1px;
  padding: 25px;
  padding-bottom: 80px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-box1 {
  position: relative;
  text-align: center;
  margin: 1px;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.uploaded-image1{
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 600px;
  cursor: pointer;
  border-radius: 5px;
} 

.image-box h3 {
  margin-bottom: 20px;
  
}

.image-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.uploaded-image, .processed-image {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

.sliders {
  width: 300px;
  margin: 20px auto;
}

.slider-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.slider-container label {
  flex: 1;
}

.slider-container span {
  margin-left: 10px;
}

.convert-button {
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.convert-button:hover {
  background-color: #0056b3;
}

.download-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.download-button:hover {
  background-color: #0056b3;
}

.loading {
  font-size: 1.5em;
  color: #000;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }
}
